<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Ansible Deployed Tomcat</title>
  <meta name="description" content="Ansible Created Content">

</head>

<body>
    <h1>Ansible has done its job - Welcome to Tomcat on {{ ansible_host }}</h1>
</body>
</html>
